/*
 * Tweaks and overrides to hyde.css
 */

.sidebar-about h1 {
  color: #303030;
  margin-top: 0;
  font-family: "PT Sans", serif;
  font-size: 1rem;
}

.sidebar-nav {
  padding-left: 0;
  list-style: none;
  margin-bottom: 2rem;
}


/* 
 * Smoodge some CSS from icarus
 */

.widget-title {
  text-decoration: none;
  text-transform: uppercase;
  color: #999;
  line-height: 1em;
}
.widget {
  line-height: 1.6em;
  word-wrap: break-word;
  font-size: 0.9em;
}
.widget ul,
.widget ol {
  list-style: none;
  margin: 0;
}
.widget ul ul,
.widget ol ul,
.widget ul ol,
.widget ol ol {
  margin: 0 20px;
}
.widget ul ul,
.widget ol ul {
  list-style: disc;
}
.widget ul ol,
.widget ol ol {
  list-style: decimal;
}
.category-list-count,
.tag-list-count,
.archive-list-count {
  padding-left: 5px;
  color: #999;
  font-size: 0.85em;
}
.category-list-count:before,
.tag-list-count:before,
.archive-list-count:before {
  content: "(";
}
.category-list-count:after,
.tag-list-count:after,
.archive-list-count:after {
  content: ")";
}
.tagcloud a {
  margin-right: 5px;
}
.widget-wrap {
  margin: 40px 10px;
}
@media screen and (max-width: 559px) {
  .widget-wrap {
    margin: 40px 20px;
  }
}
.widget-title {
  margin-bottom: 0;
}
.widget {
  padding: 15px 5px;
}
.widget a {
  color: #777;
  text-decoration: none;
}
.widget a:hover {
  color: #333;
}
.widget ul ul,
.widget ol ul,
.widget dl ul,
.widget ul ol,
.widget ol ol,
.widget dl ol,
.widget ul dl,
.widget ol dl,
.widget dl dl {
  margin-left: 15px;
  list-style: disc;
}
.widget ul,
.widget ol {
  list-style: none;
}
.widget ul li,
.widget ol li,
.widget ul .category-list-child,
.widget ol .category-list-child {
  padding: 10px 0;
  font-size: 14px;
  border-bottom: 1px solid border-color;
}
.widget ul li a,
.widget ol li a,
.widget ul .category-list-child a,
.widget ol .category-list-child a {
  color: #777;
}
.widget ul ul,
.widget ol ul,
.widget ul ol,
.widget ol ol {
  list-style: none;
}
.widget ul ul li,
.widget ol ul li,
.widget ul ol li,
.widget ol ol li {
  border: none;
}
.widget ul ul li:last-child,
.widget ol ul li:last-child,
.widget ul ol li:last-child,
.widget ol ol li:last-child {
  padding-bottom: 0px;
}
.widget ul:not(#recent-post) li a:before,
.widget ol:not(#recent-post) li a:before {
  color: #ccc;
  content: "\f0da";
  font-size: 12px;
  margin-right: 6px;
  font-family: FontAwesome;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease;
}
.widget ul:not(#recent-post) li a:hover:before,
.widget ol:not(#recent-post) li a:hover:before {
  color: #333;
}


.article-entry h1,
.widget h1 {
  font-size: 2em;
}
.article-entry h2,
.widget h2 {
  font-size: 1.5em;
}
.article-entry h3,
.widget h3 {
  font-size: 1.3em;
}
.article-entry h4,
.widget h4 {
  font-size: 1.2em;
}
.article-entry h5,
.widget h5 {
  font-size: 1em;
}
.article-entry h6,
.widget h6 {
  font-size: 1em;
  color: #999;
}
.article-entry hr,
.widget hr {
  border: 1px dashed #eceff2;
}
.article-entry strong,
.widget strong {
  font-weight: bold;
}
.article-entry em,
.widget em,
.article-entry cite,
.widget cite {
  font-style: italic;
}
.article-entry sup,
.widget sup,
.article-entry sub,
.widget sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.article-entry sup,
.widget sup {
  top: -0.5em;
}
.article-entry sub,
.widget sub {
  bottom: -0.2em;
}
.article-entry small,
.widget small {
  font-size: 0.85em;
}
.article-entry acronym,
.widget acronym,
.article-entry abbr,
.widget abbr {
  border-bottom: 1px dotted;
}
.article-entry ul,
.widget ul,
.article-entry ol,
.widget ol,
.article-entry dl,
.widget dl {
  margin: 0 20px;
  line-height: 1.6em;
}
.article-entry ul ul,
.widget ul ul,
.article-entry ol ul,
.widget ol ul,
.article-entry ul ol,
.widget ul ol,
.article-entry ol ol,
.widget ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.article-entry ul,
.widget ul {
  list-style: disc;
}
.article-entry ol,
.widget ol {
  list-style: decimal;
}
.article-entry dt,
.widget dt {
  font-weight: bold;
}
.widget {
  line-height: 1.6em;
  word-wrap: break-word;
  font-size: 0.9em;
}
.widget ul,
.widget ol {
  list-style: none;
  margin: 0;
}
.widget ul ul,
.widget ol ul,
.widget ul ol,
.widget ol ol {
  margin: 0 20px;
}
.widget ul ul,
.widget ol ul {
  list-style: disc;
}
.widget ul ol,
.widget ol ol {
  list-style: decimal;
}
.widget-title {
  margin-bottom: 0;
}
.widget {
  padding: 15px 5px;
}
.widget a {
  color: #777;
  text-decoration: none;
}
.widget a:hover {
  color: #333;
}
.widget ul ul,
.widget ol ul,
.widget dl ul,
.widget ul ol,
.widget ol ol,
.widget dl ol,
.widget ul dl,
.widget ol dl,
.widget dl dl {
  margin-left: 15px;
  list-style: disc;
}
.widget ul,
.widget ol {
  list-style: none;
}
.widget ul li,
.widget ol li,
.widget ul .category-list-child,
.widget ol .category-list-child {
  padding: 10px 0;
  font-size: 14px;
  border-bottom: 1px solid border-color;
}
.widget ul li a,
.widget ol li a,
.widget ul .category-list-child a,
.widget ol .category-list-child a {
  color: #777;
}
.widget ul ul,
.widget ol ul,
.widget ul ol,
.widget ol ol {
  list-style: none;
}
.widget ul ul li,
.widget ol ul li,
.widget ul ol li,
.widget ol ol li {
  border: none;
}
.widget ul ul li:last-child,
.widget ol ul li:last-child,
.widget ul ol li:last-child,
.widget ol ol li:last-child {
  padding-bottom: 0px;
}
.widget ul:not(#recent-post) li a:before,
.widget ol:not(#recent-post) li a:before {
  color: #ccc;
  content: "\f0da";
  font-size: 12px;
  margin-right: 6px;
  font-family: FontAwesome;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease;
}
.widget ul:not(#recent-post) li a:hover:before,
.widget ol:not(#recent-post) li a:hover:before {
  color: #333;
}


