<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ .Site.Author.name }}</h1>
      {{ with .Site.Params.tagline }}<p class="lead">{{ . | markdownify }}</p>{{ end }}
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item"><a href="{{ "/" | absURL }}">{{ if isset .Site.Params "home"}}{{ .Site.Params.home }}{{ else }}Blog{{ end }}</a></li>
      {{ range .Site.Menus.main }}
      <li class="sidebar-nav-item">{{ .Pre }}<a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
      {{end}}
    </ul>
        <footer style="font-size:0.6em" id="footer">
                        <a href="https://github.com/network2501" target="_blank">Github</a>
                        <a href="https://au.linkedin.com/in/petercarstairs" target="_blank">Linkedin</a>
                        <a href="https://twitter.com/network2501" target="_blank">Twitter</a>
                        <a href="http://blog.network2501.com/index.xml" target="_blank">RSS</a>
        </footer>
    </div>
</div>
